user: "username"
password: "password"
host: "host"
port: "port"
db_name: "db_name"
environments:
    production:
        s3_bucket:
        distribution_id:
    staging:
        s3_bucket:
        distribution_id:
    review:
        s3_bucket:
        distribution_id: